* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    position: relative;
    background-image: url("../Assets/pictures/Background1.jpg");
    background-size: contain;
}

.List {
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
    margin: 20px;
}

.header {
    padding: 0px;
    font-family: Verdana, sans-serif;
    background-color: #000000;
    color: #e4cdcd;
}

.header h1 {
    font-size: 60px;
    text-align: center;
}

.header div {
    text-align: center;
    margin: 20px;
    padding: 00x;
}

.header div ul li {
    border:rgb(0, 0, 0) 10px;
    display: inline;
    list-style-type: none;
    
}

main {
 position: relative;
}

.main article h2 {
    font-size: xx-large;
}

.Information {
    margin-bottom: 20px;
    padding: 25px;
    height: 200px;
    width: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Float-Left {
    float: left;
    margin-right: 45px;
}

.Float-Right {
    float: right;
    margin-left: 45px;
}

.Content {
    width: 100%;
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}