* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: white;
    position: relative;
    background-image: url("../Assets/pictures/Background1.jpg");
    background-size: contain;
}

.List {
    list-style: none;
    display: flex;
    justify-content: space-evenly; 
}

.header {
    padding: 10px;
    font-family: Verdana, sans-serif;
    background-color: #000000;
    color: #e4cdcd;
}

.header h1 {
    font-size: 60px;
    text-align: center;
}

.header div {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.header div ul li {
    border:rgb(0, 0, 0) 10px;
    display: inline;
    list-style-type: none;
    
}

main {
 position: relative;
}

.main article h2 {
    font-size: xx-large;
}